
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;
    transition:.5s;
}

.material-symbols-outlined{
    color: white;
    cursor: pointer;
}
.material-symbols-outlined:hover{
    color:black
}

/* .hamburguer{
    width: 200px;
    height: 200px;
    background:#ffffff04;
    transform: translate(-50% -50%);

}

samp{
    background-color: red;
    width: 20px;
    height: 20px;
    top:10px;
} */

/* .hamburguer samp{
    width: 150px;
    height: 5px;
    background: lightgreen;
    position:absolute;
    transform: translate(0, -50%);
    box-shadow: 0 5px 15px rgb(0 0 0 /25%);
    transition: transfor 0.9s, top  0.9s, opacity 0.9s; */
    /* list-style: none;
    position: absolute;
    left: 10%;
    transform: translate(0,-50%);
    width: 30%;   
    height: 5px;
    border-radius: 20px;
    background: #0070c9;
    box-shadow: 0 5px 15px rgb(0 0 0 / 25%);
    /* opacity: 1; *
    transition: transform 0.9s , top 0.9s , opacity 0.9s;
    transition-delay: 0s , 0.9s , 0.9s; *
}*/

/* .line3{
    width: 20%;
    height: 10px;
    background-color: blue;
} */

/*@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    padding: 0;
    margin: 0; 
    font-family: 'Quicksand', sans-serif;
}
body{
    background:#0070c9;
}
ul{
    position: absolute;
    top: 50%;  left: 50%;
    transform: translate(-50%,-50%); 
    width: 150px;  height: 150px;
    background: #fff;
    cursor: pointer;
}
ul li{
    list-style: none;
    position: absolute;
    left: 10%;
    transform: translate(0,-50%);
    width: 30%;   
    height: 5px;
    border-radius: 20px;
    background: #0070c9;
    box-shadow: 0 5px 15px rgb(0 0 0 / 25%);
    /* opacity: 1; *
    transition: transform 0.9s , top 0.9s , opacity 0.9s;
    transition-delay: 0s , 0.9s , 0.9s;
}
ul li:nth-child(1){
   top: 40%; 
}
ul li:nth-child(2){
    top: 50%; 
}
ul li:nth-child(3){
    top: 30%; 
}
ul.active li{
    transition: top 0.9s , transform 0.9s , opacity 0.5s;
    transition-delay: 0s , 0.9s , 0.9s;
}
ul.active li:nth-child(1){
    top: 50%; 
    transform: translate(0,-50%) rotate(-45deg);
}
ul.active li:nth-child(2){
    opacity: 0; 
}
ul.active li:nth-child(3){
    top: 50%; 
    transform: translate(0,-50%) rotate(45deg);
}

/
h1{
    color: white;
}

.trilho{
    width: 350px;
    height: 150px;
    background-color: chartreuse;
    border-radius: 530px;
    position: relative;
    cursor: pointer;
    position: relative; 
}

.trilho .indicador{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color:darkcyan;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    transition: .5s;
}

.trilho.dark .indicador{
    left: 195px;
    background-color: chartreuse;
    transition: .5s;
}

.trilho.dark{
    background-color: darkcyan;
    transition: .5s;
}

body.dark{
    background-color: bisque;
}

body.dark h1{
    color:red;
    transition: .5s;
} */